@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --font-display: "Preahvihear","DM Sans", sans-serif;
}

:root {
  /* Bill24 Primary Color Configuration */
  --ui-primary: #3F83F8;
    font-family: "Kantumruy Pro","DM Sans", sans-serif;
}

.dark {
    /* Bill24 Dark Mode Primary Color Configuration */
    --ui-primary: #76A9FA;
}

button
{
    @apply cursor-pointer;
}